
body{
  margin: 0px;
  background-image: url("../images/cloud.jpg");
  height: 3400px;
}

.name{
  font-size: 70px;
  width: 50%;
  margin: auto;
  color: #30e3ca;
  position: relative;
  top:100px;
  font-family:cursive;
  text-align: center;
}

.description{
  font-size: 60px;
  position:absolute;
  top:250px;
  left: 40%;
  color: #ffbb91;
  font-family: fantasy;
  text-align: center;
}
.second-container{
  position: relative;
  top:900px;
  text-align: center;
  margin:auto;

}
.first{
  width: 30%;
  font-size: 60px;
  margin:auto;
  color: #e11d74;
  font-weight: 700;
  font-family: cursive;
}
.shortIntro{
  font-size: 40px;
  width: 40%;
  margin:auto;
  font-family: fantasy;
  color:#e48466d;
}
.third-container{
  height: 100px;
    position: relative;
    top: 1300px;
    text-align: center;
}


.container4{
  height: 100px;
    position: relative;
    top: 1700px;
    text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

a{
  font-size: 30px;
  color: #30e3ca;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container {
  background-color: #66BFBF;
  position: relative;
    top: 2550px;
  /* margin: auto; */
  text-align: center;
}
.contact-me{
  position: relative;
top: 2550px;
text-align: center;
background-color: #66BFBF;
}
.footer-title{
  font-family: cursive;
}
